@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.dark,
[data-theme='dark'] {
  --bg-primary: #1b1b1b;
  --bg-secondary: #131313;
  --bg-accent: rgb(255, 38, 98);

  --text-primary: #cecece;
  --text-secondary: rgb(206, 206, 206);
  --text-accent: rgb(255, 38, 98);

  --brand-primary: #da145a;
  --brand-secondary: #da3114;
  --brand-terciary: #da14bd;
  --brand-green: '#14DA94';
}

.page {
  @apply container pr-0;
}

html,
body {
  font-size: calc(16px + (17 - 16) * ((100vw - 300px) / (1600 - 300)));
  @apply min-h-screen font-body text-primary bg-secondary;
}

*::selection {
  background-color: var(--text-accent);
  color: var(--bg-primary);
}
