@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #131416;
  --bg-secondary: #1c1c1c;
  --bg-accent: rgb(255, 38, 98);
  --text-primary: #cecece;
  --text-secondary: rgb(206, 206, 206);
  --text-accent: rgb(255, 38, 98);

  --brand-primary: #DA145A;
  --brand-secondary: #DA3114;
  --brand-terciary: #DA14BD;
}

.dark, [data-theme="dark"] {
  --bg-primary: #131416;
  --bg-secondary: #1c1c1c;
  --bg-accent: rgb(255, 38, 98);
  --text-primary: #cecece;
  --text-secondary: rgb(206, 206, 206);
  --text-accent: rgb(255, 38, 98);

  --brand-primary: #DA145A;
  --brand-secondary: #DA3114;
  --brand-terciary: #DA14BD;

}

html, body {
  font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1600 - 300)));
  @apply bg-secondary font-body text-primary;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

*::selection {
  background-color: var(--text-accent);
  color: var(--bg-primary)
}